{% extends 'layout.html' %}

{% block title %}DJango Cat - Index{% endblock %}

{% block content %}
    {% if cat_list %}
    <ul>
    	<li>Derniers chats ajouté</li>
    {% for cat in cat_list %}
        <li><a href="/cat/{{ cat.id }}/">{{ cat.cat_name }}</a></li>
    {% endfor %}
    </ul>
	{% else %}
	    <p>Il y a pas de chat :'(</p>
	{% endif %}

	<p>Et toi, de quel couleur est ton chat ?</p>
	<img src="http://4.bp.blogspot.com/-UyGYkdr1Td4/U7z162r2GVI/AAAAAAAACwE/cGax-v8O2LY/s1600/venus-chat-deux-faces.jpg" alt="chat mi-noir me-marron">
{% endblock %}